/* Star Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--default-padding) * 2);
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.3;
}

img {
  max-width: 100%;
}

input[type="checkbox"] {
  display: none;
}
/* End Reset */

/* Start css variables */

:root {
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-grayish-blue: #9194a1;
  --color-very-dark-blue: #252b46;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 900px;
  --tablet-width: 600px;
  --timing-animation: 0.2s;
}

/* End css variables */

/* Start Global styles */
.container {
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 var(--default-padding);
  display: grid;
  row-gap: calc(var(--default-padding) * 4);
  min-height: 100vh;
}

@media (max-width: 880px) {
  .container {
    max-width: var(--tablet-width);
  }
}

@media (max-width: 600px) {
  .container {
    row-gap: calc(var(--default-padding) * 2);
  }
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: calc(var(--default-padding) * 2);
  align-items: center;
}
.section_gap {
  row-gap: calc(var(--default-padding) * 4);
}
@media (max-width: 600px) {
  .section {
    grid-template-columns: 1fr;
  }
  .section_gap {
    row-gap: var(--default-padding);
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-padding) / 2);
}
.main-head {
  font-size: 4.2rem;
}
.features-title {
  font-size: 2.4rem;
}
.description {
  color: var(--color-grayish-blue);
  font-size: 1.4rem;
}

/* End Global styles */

/* Start header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--default-padding);
}
@media (max-width: 600px) {
  .header {
    justify-content: space-between;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
@media (max-width: 600px) {
  .logo {
    margin-right: 1rem;
  }
}

.Logo-image {
  width: 4rem;
}
.name_of_logo {
  font-size: 1.7rem;
  font-weight: 500;
}

.nav-list {
  display: flex;
  gap: var(--default-padding);
}

.links {
  color: var(--color-very-dark-blue);
  transition: 0.2s;
  flex: 1;
}

.links:hover {
  color: var(--color-soft-red);
}
/* End header */

/* Start about_extention */
.column-one {
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-padding) / 2);
}

@media (max-width: 600px) {
  .column-two {
    grid-row: 1;
  }
}

.buttons {
  margin-top: var(--default-padding);
  display: flex;
  gap: var(--default-padding);
}
.exe-link {
  padding: 1.2rem 2.4rem;
  border-radius: var(--default-radius);
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: 0 0.4rem 0.8rem 0.2rem #0000001a;
  text-align: center;
}

.chrome {
  background-color: var(--color-soft-blue);
  color: var(--color-off-white);
}

.Edge {
  background-color: var(--color-off-white);
  color: var(--color-very-dark-blue);
}

@media (max-width: 600px) {
  .Features_two {
    grid-row: 3;
  }
}
/* End about_extention */

/* Start download section */
.download {
  row-gap: var(--default-padding);
}
.download-text {
  grid-column: 1/-1;
  justify-self: center;
  text-align: center;
  max-width: 50rem;
}
.margin {
  margin-bottom: calc(var(--default-padding) / 2);
}
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--default-padding);
}

@media (max-width: 780px) {
  .boxes {
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--default-padding);
  }
}
.box {
  background-color: #fff;
  border-radius: var(--default-radius);
  box-shadow: 0 0.4rem 0.8rem 0.2rem #0000001a;
  padding: calc(var(--default-padding) * 2) var(--default-padding)
    var(--default-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 25rem;
}
@media (max-width: 600px) {
  .box {
    width: 100%;
  }
  .boxes {
    grid-template-columns: 1fr;
  }
}

.icon {
  width: 6rem;
  margin-bottom: calc(var(--default-padding) / 2);
}
.card-description {
  font-size: 1.8rem;
}
.instalation {
  position: relative;
  margin-top: auto;
  padding: 1.2rem 2.4rem;
  background-color: var(--color-soft-blue);
  box-shadow: 0 0.4rem 0.8rem 0.2rem #0000001a;
  color: var(--color-off-white);
  border-radius: var(--default-radius);
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.3s;
}
.instalation:not(.firefox-button):hover {
  background-color: var(--color-off-white);
  color: var(--color-soft-blue);
}
.instalation::before {
  content: "";
  top: calc(var(--default-padding) * -1.4);
  left: calc(var(--default-padding) * -1);
  right: calc(var(--default-padding) * -1);
  height: 0.3rem;
  position: absolute;
  background: url(./images/bg-dots.svg) repeat-x;
  background-size: contain;
}
.firefox-button {
  background-color: var(--color-grayish-blue);
}
/* End download section */

/* Start FAQ*/
.faq {
  grid-template-columns: 1fr;
}
.Q-content {
  display: flex;
  justify-content: center;
}
.common-questions {
  margin-top: calc(var(--default-padding) * 1.5);
  max-width: 50rem;
  flex-basis: 100%;
  border-top: 1px solid var(--color-grayish-blue);
  border-bottom: 1px solid var(--color-grayish-blue);
}

input:checked ~ .arrow {
  transform: rotate(180deg);
}

input:checked ~ .respond {
  max-height: 30rem;
  padding: var(--default-padding) 0;
  opacity: 1;
}
.row-Q {
  padding: var(--default-padding) 0;
  position: relative;
}

.arrow {
  position: absolute;
  margin-left: auto;
  width: 1.2rem;
  right: 0;
  top: calc(var(--default-padding) + 0.6rem);
  transition: 0.3s ease-in-out transform;
}

.row-Q:not(:nth-child(4)) {
  border-bottom: 1px solid var(--color-grayish-blue);
}

.Question {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}
.respond {
  font-size: 1.4rem;
  font-weight: 400;
  transition: 0.3s ease-in-out all;
  opacity: 0;
  max-height: 0.1rem;
  overflow: hidden;
}

/* End FAQ*/

/* Start Footer*/
.footer {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: var(--default-padding) 0;
  font-size: 1.4rem;
}
.footer::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: var(--color-very-dark-blue);
  z-index: -1;
}
.footer__left {
  display: flex;
  gap: var(--default-padding);
  margin-right: auto;
}
/* End Footer*/
